@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100;200;300;400;500;600;700;800&family=Teko:wght@300;400;500;600;700&display=swap');


*{
    padding: 0px;       /*configuração global de padding e margem*/
    margin: 0px;
}

/* cabeçalho */
header{
background-color: #220e00fa;
display: flex;
justify-content: space-between;
position: sticky;
top: 0px;
padding: 0 10px;
}
.botaohome{
    display: flex;
    flex-direction: row;
    justify-content: left;
 }
.icone-e-texto{
   display: flex;
   flex-direction: row;
}
.icone{
    width: 100px;
    margin-right: 10px;

}
#texto{
    font-family: 'Teko', sans-serif;
    color: #F2884B;
    margin-top: 10px;
    text-decoration: none;
    box-shadow: 5 10 15 black;
}
.nav-buttons{
    color: #F2884B;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    box-shadow: 5 10 15 black;
    margin: 0 50px;
}

.nav-buttons:hover{
    color: #BF6A39;
}

.nav-pags{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:740px) {
    .icone-e-texto{
        display: flex;
        flex-direction: column;
    }
    .nav-pags{
        display: flex;
        flex-direction: column;
    } 
    #texto{
        margin-left: 5px;
    }
} 
@media screen and (max-width:395px) {
    .icone-e-texto{
        display: flex;
        flex-direction: column;
    }
    .nav-pags{
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        font-size: 13px;
        justify-content: center;
    } 
} 
.logar{
    display: flex;
    flex-direction: row;
    background-color:#81D959 ;
    border: solid #81D959 ;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
}

#logindecoration{
    text-decoration: none;
    color:#220e00 ;
    font-family: 'Teko', sans-serif;
    font-size: 1.2em;
    font-weight: normal;
}
.logar:hover{
    background-color:#F2884B ;
    color: #220e00;
    border: solid #F2884B;
}
@media screen and (max-width:740px){
    .logar{
        display: flex;
        flex-direction: row;
        background-color:#81D959 ;
        border: solid #81D959 ;
        margin-top: 10px;
        margin-right: 20px;
        margin-bottom: 90px;
        border-radius: 5px;

    }
}
@media screen and (max-width:345px){
    header{
      display: flex;
      flex-direction: column;
    }
}

/* main */ 
main{
    font-family: 'Anek Tamil', sans-serif;
}
#cftitulo{
    font-family: 'Anek Tamil', sans-serif ;
    background-color: #BF6A39;
    text-align: center;
    margin-bottom: 20px;
}
#cftitulo > h1{
    color:white;
    font-size: 3.5em;
}
.cfp{
    text-align: center;
    font-size: 1.12em;
    margin-top: 25px;
}
.cfp2{
    text-align: center;
    font-size: 3em;
    color: #220e00;
}

/* SEÇÃO 1 */
.cfsim{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
#cfimg{
    width: 250px;
    margin-left: 60px;
}
.cfsim2{
    text-align: justify;
    word-wrap: keep-all;
    width: 50%;
    margin-right: 60px;
}
.cfsim2>h3{
    font-size: 3em;
    color: #220e00;
}
.cfsim2>p{
    font-size: 1.3em;
}
.cfsim2>a{
    text-decoration: none;
    background-color: #81D959;
    border-radius: 15px;
    padding: 15px;
    color: #220e00;
    font-weight: bold;
}
.cfsim2>a:hover{
    background-color: #60a042;
}
@media screen and (max-width:630px){
    #cfimg{
        display: none;
    } 
    .cfsim{   
        justify-content: center;
    }
    .cfsim2> h3{
        font-size: 2em;
    }
}
/* SEÇÃO 1 */

/*SEÇÃO 2 */
.cfform{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 90px;
}
.cfform2{
    text-align: justify;
    word-wrap: keep-all;
    width: 50%;
}
.cfform2>h3{
    font-size: 3em;
    color: #220e00;
}
.cfform2>p{
    font-size: 1.3em;
}
#cfimg2{
    width: 250px;
    margin-right: 90px;
    margin-bottom: 60px;
}
@media screen and (max-width:630px){
    #cfimg2{
        display: none;
    } 
    .cfform{   
        justify-content: center;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .cfform2{
        margin-right:63px;
    }
    .cfform2>h3{
        font-size: 2em;
    }   
}
/* SEÇÃO 2 */

/* SEÇÃO 3*/

.cfanalise{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.cfanaliseimg{
    width: 200px;
    margin-left: 60px;
}
.cfanalise2{
    text-align: justify;
    word-wrap: keep-all;
    width: 50%;
    margin-right: 60px;
    margin-bottom: 30px;
}
.cfanalise2>h3{
    font-size: 3em;
    color: #220e00;
}
.cfanalise2>p{
    font-size: 1.3em;
}
@media screen and (max-width:630px){
    .cfanaliseimg{
        display: none;
    } 
    .cfanalise{   
        justify-content: center;
    }
    .cfanalise2> h3{
        font-size: 2em;
    }
}
/*SEÇÃO 3*/
/* MAIN */

/*footer */
#mfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #220e00;
    color: #ff9100;
    font-family: 'Teko', sans-serif;
}
footer>div{
    padding: 0 20px;
}
footer>div>a{
    display: flex;
    flex-direction: column;
    color: #ff9100;
}

.img-footer{
    width: 35px;
}
.img-faminas{
    width: 70px;
}
footer>div>p{
    font-size: 1.1em;
}
#wrap{
    word-break: keep-all;
    width: 250px;
}
@media screen and (max-width:530px){
    #mfooter{
        display: flex;
        flex-direction: column;
    }
}
/* footer */